<div class="container-fluid footer-wrapper" id="footer"> <!-- this is the Footer Wrapper -->
    <div class="container">
        <div class="footer-info">
            <div class="footer-info-text">
                This website was created with SimpleSite
            </div>
            <div class="footer-powered-by">
                <a rel="nofollow" href="http://www.simplesite.com/pages/receive.aspx?partnerkey=123i%3afooterbanner&amp;referercustomerid=15831371&amp;refererpageid=422328564">Get Your own FREE website. Click here!</a>
            </div>
        </div>
    </div>
</div>