<div id="right" class="span3">
    <div class="sidebar">
        <div class="wrapper share-box">
            <div class="heading">
                <h4>Share this page</h4>
            </div>

            <div class="content">
                <span>
                    <ul>
                        <li><a href="#facebook"><i class='fab fa-facebook-square'></i><span>Share on Facebook</span></a></li>
                        <li><a href="#twitter"><i class='fab fa-twitter-square'></i><span>Share on Twitter</span></a></li>
                        <li><a href="#google"><i class='fab fa-google'></i><span>Share on Google+</span></a></li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
</div>