<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
    <script th:src="@{https://kit.fontawesome.com/a076d05399.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body data-pid="118937148" data-iid="" style="line-height: normal;" class="stefan-asafti">
<div class="container-fluid site-wrapper">
    <!-- this is the Sheet -->
    <div th:replace="Components/navigationBar.html"></div>
    <!-- this is the Header content -->
    <div class="container-fluid content-wrapper" id="content"> <!-- this is the Content Wrapper -->
        <div class="container">
            <div class="row-fluid content-inner">
                <div id="left" class="span9"> <!-- ADD "span12" if no sidebar, or "span9" with sidebar -->
                    <div class="wrapper ">
                        <div class="content">
                            <div class="row-fluid layout5-row  margins-topbottom padding-all ">
                                <div class="sections-wrapper">
                                    <div class="span12 ">
                                        <div class="outer-margin-on first last">
                                            <div class="section article margins-on">
                                                <style>    .wordwrapfix {
                                                    word-wrap: break-word;
                                                }
                                                </style>
                                                <div class="heading wordwrapfix">
                                                    <h3>
                                                        Phạm Huy Hoàng
                                                    </h3>
                                                </div>

                                                <div class="content">
                                                    <div class="img-simple span6 pull-right">
                                                        <div class="image">
                                                            <a data-ss="imagemodal"
                                                               data-href="https://toidicodedao.files.wordpress.com/2017/12/youtube-channel-toidicodedao.jpg"><img
                                                                    src="https://toidicodedao.files.wordpress.com/2017/12/youtube-channel-toidicodedao.jpg"></a>
                                                        </div>
                                                    </div>
                                                    <p style="font-family: georgia, palatino; font-size: 20px;">
                                                        Chào các bạn, mình là Phạm Huy Hoàng, tác giả của blog Tôi đi code dạo và youtube channel Tôi Đi Code Dạo. Các bạn có thể gọi mình là Code Dạo, là Hoàng, hoặc Hoàng Code Dạo đều ok cả.

                                                        Mình là một full-stack developer kiêm writer, blogger, Youtuber và đủ thứ lơ tơ mơ khác nữa.Về blog Tôi Đi Code Dạo
                                                        Vốn sinh ra trong một gia đình nho giáo lâu đời, có truyền thống code dạo, cài win dạo nên tôi đặt tên blog là “Tôi Đi Code Dạo”.

                                                        Đùa đấy, thật ra do hồi xưa mấy thầy ở trường hay doạ là “đứa nào ko lo học ra trường chỉ có nước đi code dạo”, nên mình lấy tên blog là Tôi Đi Code Dạo luôn!

                                                        Đây là một blog về IT mà cũng ko phải về IT.

                                                        Nội dung blog một nửa là về kĩ thuật lập trình, một nửa còn lại là những kinh nghiệm tôi học được: Cách deal lương, sắp xếp thời gian, kĩ năng mềm, ngôn ngữ lập trình nên học, con đường phát triển nghề nghiệp… Đó là những điều quan trọng ko thua gì kĩ năng lập trình.

                                                        Phương châm của blog là: Developer cần biết nhiều điều hơn ngoài code, blog sẽ vừa dạy bạn code, vừa dạy bạn những điều còn lại.



                                                        Nếu đây là lần đầu bạn ghé thăm blog, hãy click Bài viết hay để xem những bài viết/series đặc sắc nhất của blog nhé. Blog luôn có bài viết mới 1 lần/tuần vào thứ 3.

                                                        Ngoài ra, những bài viết hay và hữu ích trên blog đã được tổng hợp lại thành 1 cuốn sách mang tên Code Dạo Kí Sự, được hơn 250 review 5 sao trên Tiki. Nếu thích cầm sách giấy các bạn có thể mua trên Tiki ủng hộ mình nhé!
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div th:replace="Components/rightBar.html"></div>
            </div>
        </div>
    </div>  <!-- the controller has determined which view to be shown in the content -->
    <div th:replace="Components/footer.html"></div>
</body>
</html>